<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form>
    First Name: <input type="text" name="FirstName" required><br>
    Last  Name: <input type="text" name="LastName" required><br>
    Email     : <input type="email" name="Email" required><br>
    Password  : <input type="password" name="Password" minlength="8" required><br>
    Birthday  : <input type="date" name="Birthday" required><br>
    Gender    : <br>
    <input name="Gender" type="radio" value="Male">Male<br>
    <input name="Gender" type="radio" value="Female">Female<br>
    <input name="Gender" type="radio" value="Other">Other<br>
    Pets    : <br>
    <input type="checkbox" name="Cat">Cat<br>
    <input type="checkbox" name="Dog">Dog<br>

    Cars   : <br>
<!--    <select multiple>-->
    <select name="Cars">
        <option value="Subaru">Subaru</option>
        <option value="AUDI">AUDI</option>
        <option value="Tesla">Tesla</option>
    </select><br>

    <input type="submit" name="Register" value="Register">
    <input type="reset" name="Reset" value="Reset">
</form>

</body>
</html>